body{
    background-image: url('darkweights.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}


header {
    background: #E4C49A;
    padding: 15px;
    max-width: 940px;
    margin: auto;
}

main {
    max-width: 940px;
    padding-top: 20px;
    /* margin-top: 20px;    */
    background-color: antiquewhite;
    height: 100vh;
    
}

#frontTitle {
    text-decoration: underline;
    text-align: center;
    
}

form {
    border: 5px solid black;
    padding: 15px;
   
}
 .buttons {
     margin-top: 10px;
 }

 .input-boxes{
     margin-top: 10px;
 }

 #timer-area{
    border: 5px solid black;
    padding: 15px;
 }

 #timer-button {
     height: 50px;
     max-width: 400px;
     margin: auto;
 }

.stop-button {
    background-color: red;
}